body{
  font-family: 'Lato';
}
.header{
  background: rgba(229, 84, 115, 0.10);
  width: 1505px;
 height: 600px;
}
.banner{
  padding: 30px 30px 0px 150px ;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .profile-pic{ 
  width: 400px;
height: 500px;
margin-right: 250px;
margin-bottom: -170px;
}
.banner-descrip{
  margin-top: -10px;
  margin-bottom: 30px;
  width: 585px;
  color: rgba(39, 39, 39, 0.60);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.banner-content{
  max-width: 500px;
}
.banner-title{
  width: 500px;
color: #272727;
font-size: 60px;
font-weight: 800;
}
.btn-primary{
  border-radius: 8px;
 background: #E55473;
 margin-top: 10px;
 border: 0;
 gap: 10px;
 color: white;
font-size: 20px;
font-weight: 700;
padding: 20px 43px;
}

.feature{
  padding: 100px;
}
.feature-title1{
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.feature-descrip{
  color: rgba(39, 39, 39, 0.60);
  text-align: center;
  /* width: 594px; */
  font-size: 18px;
  font-weight: 400;
 
}
.feature-container{
  display:flex;
  justify-content: space-around;
  padding: 10px 230px 180px 230px;
}

.images-one{
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  width: 330px;
  height: 400px;
}
.images-two{
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  width: 330px;
  height: 400px;
}
.images-three{
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  width: 330px;
  height: 400px;
}
.img-cls1{
  width: 210px;
  height: 328px;
  padding: 72px 60px 0px 72px;
}
.img-cls2{
  width: 300px;
  height: 300px;
  padding:70px 30px 30px 30px;
}
.img-cls3{
  width: 250px;
  height: 350px;
  padding: 50px 40px 0px 50px;
}
.text-title{
  text-decoration: underline;
  text-align:center;
}
  
  /* offer section */

.offer-sec{
  padding: 30px 30px 0px 150px ;
  display: flex;
  align-items: center;
  width: 1325px;
  height: 500px;
  justify-content: space-between;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  margin-bottom: 70px;
}
.offer-title{
  color: #272727;
font-size: 40px;
font-weight: 800;
margin-bottom: 10px;
}
.offer-descrip{
  color: rgba(39, 39, 39, 0.60);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  display: flex;
  width: 594px;
  flex-direction: column;
} 
.sign-up-btn{
  border-radius: 8px;
 background: #E55473;
 margin-top: 10px;
 border: 0;
 margin-top: 0px;
 color: white;
 font-size: 20px;
 font-weight: 700;
 padding: 20px 43px;
}
.flower-pic{
  width: 240px;
height: 400px;
margin-right: 270px;
}
.offer-content{
  text-align: center;
}

/* instagram details */

.insta-section{
  padding: 80px;
}
.insta-title{
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.insta-descrip{
  color: rgba(39, 39, 39, 0.60);
  text-align: center;
  margin-left: 360px;
  margin-top: -20px;
  width: 594px;
  font-size: 18px;
  font-weight: 400;
}

.flower-container{
  display: flex;
  gap: 24px;
  padding: 0px 0px 0px 30px;
  margin-bottom: 120px;
}
.flower-img{
  width: 342px;
  height: 396px;
}
.shop-sec{
  display: flex;
  justify-content:space-around;
  width: 1300px;
  height: 380px;
  align-items: center;
  background-image: url("Flower Asset/Rectangle 9.png");
  background-size: cover;
  margin-left: 100px;
  margin-bottom: 130px;
  
}
.sub-btn{
  border-radius: 8px;
 background: #E55473;
 margin-top: 10px;
 border: 0;
 gap: 10px;
 color: white;
font-size: 20px;
font-weight: 700;
padding: 20px 43px;
margin-left: -150px;
}
.form-cls input[type="text"]{
   margin-bottom: 25px;
   padding: 20px 200px;
   color: #757575;
   border-radius: 5px;
   background: white;
   border: 0px;
   margin-right: 170px;
}
.shop-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.shop-title{
  margin-bottom: -70px;
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
 
}
.shop-descrip{
  margin-bottom: 10px;
  color: rgba(39, 39, 39, 0.60);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
}
.end-footer{
  width: 1305px;
 height: 300px;
  background: #111010;
  padding: 100px 100px 100px 100px;
}
.end-title{
  color: #E55473;
font-size: 48px;
font-weight: 800;
text-align: center;
margin-bottom: -30px;
}
.extra-task{
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
}
.end-descrip{
  color: rgba(255, 255, 255, 0.90);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
.copyr8-sec{
  color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-weight: 400;
}