body{
  font-family: 'Lato';
}
.header{
  width: 1920px;
height: 850px;
flex-shrink: 0;
}
.header{
  background: rgba(229, 84, 115, 0.10);
  width: 1505px;
 height: 600px;
}
.banner{
  padding: 30px 30px 0px 150px ;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .profile-pic{ 
  width: 400px;
height: 500px;
margin-right: 250px;
margin-bottom: -170px;
}
.banner-descrip{
  margin-top: -10px;
  margin-bottom: 30px;
  width: 585px;
  color: rgba(39, 39, 39, 0.60);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.banner-content{
  max-width: 500px;
}
.banner-title{
  width: 500px;
color: #272727;
font-size: 60px;
font-weight: 800;
}
.btn-primary{
  border-radius: 8px;
 background: #E55473;
 margin-top: 10px;
 border: 0;
 gap: 10px;
 color: white;
font-size: 20px;
font-weight: 700;
padding: 20px 43px;
}

.feature{
  padding: 100px;
}
.feature-title{
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.feature-descrip{
  color: rgba(39, 39, 39, 0.60);
  text-align: center;
  /* width: 594px; */
  font-size: 18px;
  font-weight: 400;
}
.feature-container{
  display:flex;
  justify-content: space-around;
  padding: 10px 230px 180px 230px;
}

.images-one{
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  width: 330px;
  height: 400px;
}
.images-two{
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  width: 330px;
  height: 400px;
}
.images-three{
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  width: 330px;
  height: 400px;
}
.img-cls1{
  width: 210px;
  height: 328px;
  padding: 72px 60px 0px 72px;
}
.img-cls2{
  width: 300px;
  height: 300px;
  padding:70px 30px 30px 30px;
}
.img-cls3{
  width: 250px;
  height: 350px;
  padding: 50px 40px 0px 50px;
}
.text-title{
  text-decoration: underline;
  text-align:center;
}